* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family:'poppins',sans-serif;
  font-size: 1.6rem;
  background: linear-gradient(purple ,pink ,blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgb(0, 4, 255);
}

.container {
    text-align: center;
    width: 95%;
    max-width: 60rem;
    background: rgba(233, 127, 176, 0.897);
    padding: 5rem;
    border-radius: 1rem;

}

header h1 {
  font-size: 4rem;
  margin-bottom: 4rem;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.result {
  font-size: 2rem;
  margin: 1.5rem 0;
  font-weight: 600;
}

.choices {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.choice {
  background: #8e6ceb;
  color: #ffffff;
  border: none;
  padding: 1rem 3rem;
  cursor: pointer;
  border-radius: 0.6rem;
  font-size: 1.6rem;
}
.choice:hover {
  background: #39ddcf;
  transform: scale(1.05);
}
